.welcome {
  background: url('../../assets/welcome.png');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 27rem;
}

.welcome__text p {
  @apply inline-block overflow-hidden rounded-lg p-2;
  background-color: rgba(255, 255, 255, 0.2);
}

.welcome__text p:after {
  @apply inline-block bg-white ml-0.5;
  content: '';
  height: 1rem;
  width: 0.2rem;
  animation: cursor 0.4s infinite;
}

@keyframes cursor {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

.playground {
  background: url('../../assets/playground.png');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 27rem;
}

.playground__messages {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 0;
}

.simple-recommendation {
  width: 4rem;
  height: 5rem;
}

.main-recommendation {
  width: 18rem;
}

.main-recommendation figure {
  width: 3.5rem;
  height: 3.5rem;
}

.main-recommendation .animate-ping {
  width: 10rem;
  height: 3rem;
  top: 9px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

.main-recommendation__card {
  z-index: 1;
}

.main-recommendation__crown {
  top: -2.2rem;
  right: 0.3rem;
}

.modal {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;}