.welcome {
  background: url('../../assets/welcome.png');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 27rem;
}

.welcome__text p {
  @apply inline-block overflow-hidden rounded-lg p-2;
  background-color: rgba(255, 255, 255, 0.2);
}

.welcome__text p:after {
  @apply inline-block bg-white ml-0.5;
  content: '';
  height: 1rem;
  width: 0.2rem;
  animation: cursor 0.4s infinite;
}

@keyframes cursor {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

.playground {
  background: url('../../assets/playground.png');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 27rem;
}

.playground__messages {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 0;
}

.simple-recommendation {
  width: 4rem;
  height: 5rem;
}

.main-recommendation {
  width: 16rem;
}

.main-recommendation figure {
  width: 3.5rem;
  height: 3.5rem;
}

.main-recommendation__crown {
  top: -2.2rem;
  right: 0.3rem;
}