@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #242E2C;
}

body > div {
  @apply h-full;
}